<!-- Small link back to course homepage -->
<p style="text-align: center; font-size: 0.9em;">
    <a href="../index.html">Back to Course Homepage</a>
  </p>
  
  <header>
    <h1>Welcome to the Traveling Nurses Accommodation Finder</h1>
    <nav class="simple-nav">
      <span><a href="home.html">Home</a></span>
      <span>|</span>
      <span><a href="listings.html">Listings</a></span>
      <span>|</span>
      <span><a href="booking.html">Book Accommodation</a></span>
      <span>|</span>
      <span><a href="map.html">Map View</a></span>
      <span>|</span>
      <span><a href="deals.html">Special Deals</a></span>
      <span>|</span>
      <span><a href="profile.html">Your Profile</a></span>
      <span>|</span>
      <span><a href="client.info.html">Our Client</a></span>
      <span>|</span>
      <span><a href="testimonial.html">Testimonials</a></span>
      <span>|</span>
      <span><a href="contact.html">Contact</a></span>
    </nav>
  </header>
  
  