<h2>Home</h2>
<p>Welcome to my ITIS3135 Course Page!</p>
<p>Here you’ll find links to my course pages and profiles:</p>
<ul>
    <li><a href="https://qsterling21.github.io/itis3135/qsterlin.html" target="_blank">My UNCC Webpage</a></li>
    <li><a href="https://github.com/qsterling21" target="_blank">GitHub Profile</a></li>
    <li><a href="https://www.freecodecamp.org/Qwan_S" target="_blank">FreeCodeCamp Profile</a></li>
    <li><a href="https://www.codecademy.com/profiles/Qwan_S" target="_blank">Codecademy Profile</a></li>
    <li><a href="https://www.linkedin.com/in/qwan-sterling-5a9121348/" target="_blank">LinkedIn Profile</a></li>
    <li><a href="https://github.com/" target="_blank">GitHub Pages Site</a></li>
</ul>


<p>Designed by Qwan Sterling, 
    <a href="https://www.freecodecamp.org/certification/Qwan_S/responsive-web-design" target="_blank">
        <em>Certified in Responsive Web Design</em>
    </a>
</p>

<!-- Footer for Personal Webpage Signature -->
<p>Page Built By Qwan Sterling. &copy; 2025</p>