<!-- This is the header for the ITIS3135 course page -->
<h1>Welcome to Qwan "Quick Stork" Sterling's ITIS Course Page!</h1> 

<nav>
    <a href="index.html">Home</a> |
    <a href="introduction.html">Introduction</a> |
    <a href="contract.html">Contract</a>
</nav>

<!-- Second Navigation (ONLY for the "crappy page") -->
<nav class="secondary-nav">
    <strong>My Crappy Webpage:</strong>
    <a href="https://qsterling21.github.io/itis3135/stuff/TERRIBLE%20!!%20BAD.html" target="_blank">
        https://qsterling21.github.io/itis3135/stuff/TERRIBLE%20!!%20BAD.html
    </a>
</nav>

<!-- This is the header Personal Webpage -->
<nav>
    
<img src="uncc-logo.png" alt="UNC Charlotte Logo" class="logo">
        

 </nav>       